*{
    margin: 0;
    padding: 0;
}
.navbarc{
    background-color:#000;
    height: 50px;
}
.navbar-inverse .navbar-nav > li > a {
   color:#d9d9d9;
   font-size: 20px; 
}
.navbar-inverse .navbar-nav {
    position:relative;
    top: 0px;
    right: 20px; 
    
}
.image{
    position: absolute;
    right: 1150px;
    width: 100px;

}
.image > img{
    width: 100px;
    height: 50px;
    
}

.image > img:hover{
    width: 105px;
    height: 55px;
}

body {
    direction: rtl;
} 

header {
    background-color: #A8A8A8;
    text-align: center;
    padding: 8px; 
    font-family: Arial;
}
nav {
    background-color: #000;
    color: #d0c9c9;
    font-size: 22px; 
    font-family: Changa;
    margin-bottom: 30px;
} 

nav ul {
    padding: 10px;
    text-align: center;
}
nav ul li {
    display: inline-block;
}

nav ul li:after {
    content: " | "
}

nav ul li:last-child:after {
    content: ""
}

.examsContainer {
    
    background-color: cadetblue;
    margin: 10px;
    padding: 10px;
    
}
.orders{
    position:absolute;
    height: 300px;
     overflow-y: auto; 
    overflow-x: hidden;
    background: black;
}
tbody td, thead th {
    width: 1100px;
}
.square {
    
    width: 150px;
	height: 150px;
	background: red; 
    padding: 10px;
    display: inline-block;
    
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #000;
    color: white;
}

.tableContainer {
    overflow-x:auto;
}

footer {
    background-color: #000;
    color: white;
    padding: 8px;
    text-align: center;
    direction: ltr;
}
.btnc{
position: relative;
top: 350px;
right: 500px;
font-weight: bold;
font-size: 20px;
margin-left: 150px;

}
.btnc:disabled{
    cursor: default;
}
.cpannel{
    position: absolute;
    background-color: #bfbfbf;
    width: 600px;
    height: 500px;
    right: 600px;
    top: 200px;
    border-radius: 4px;
    overflow-y: auto; 
}
.closebt{
    position: relative;
    left: -2%;
    right: 10px;
    top: 15px; 
    
}
.timeexam{
    position: relative;
    top: 30px;
}
.timeexam > button{
    position: relative;
    top: 5px;
    right: 28%;
    margin-left: 60px;
    font-size: 13px;
}
.texttype{
    position: relative;
    top: 60px;
    display: none;
}
.questool{  
 position: relative;
 background-color: #bfbfbf;
 height: 380px;
 width:450px;
 top: 70px;
 right: 80px;
}
.qeuscont{
 position: relative;
 background-color: white;
 height: 300px;
 width: 400px;
 top: 20px;
 right: 27px;
 overflow-y: auto;
}
.btntools1{
    position: relative;
    display: block;
    top: 40px;
    right: 70px;
}
.btntools2{
    position: relative;
    display: block;
    right: 300px;
    top: 5px;
    width: 82px;
}
.currentques{
    position: relative;
    width: 400px;
    height: 110px;
    right: 100px;
    top: 30px;
    padding-top: 10px;
    padding-right: 10px;
    display: none;
}
.currentques .btn-danger{
    position: relative;
    font-size: 13px;
    top:0px;
    right: 0%;
    margin-left: 0px;
    
}
.currentques select{
    width: 102px;
    height:27px; 
}
.input-group-addon{
    
    background-color: transparent;
}